

    <div>
    <h1><strong>Bonanza Loans</strong> </h1>
    <!-- <img src="assets/images/car.png" alt="Loan" style="width:1080px;height:600px;">  -->
  <section>
    <div class="container" style="font:bold;">
      <header style="background-color:black; height: 50px;font-weight: bold; margin-top: auto;">
    

      
        <a routerLinkActive="active" 
          routerLink="/aboutus" style="color:white;position: fixed; right: 1100px;"><b>About Us</b></a>
        

          <a routerLinkActive="active" 
        routerLink="/contactus" style="color: white; position: fixed; right: 900px;"><b>Contact Us</b></a>
     
        <a routerLinkActive="active" 
         routerLink="/emi" style="color: white;position: fixed; right: 650px;"><b>Emi Calculator</b></a> 
       
         <a routerLinkActive="active" 
        routerLink="/adminlogin" style="color: white;position: fixed; right: 400px;"><b>Login(Admin)</b></a>
  
      <a routerLinkActive="active" 
        routerLink="/login" style="color: white;position: fixed;right: 150px;"><b>Login(User)</b></a>
      
     
      </header>
      
     <img src="assets/images/car.png" alt="Loan" style="width:1110px;height:600px;position: fixed;top: 200px;"> 
    </div>
   
  </section>

  

</div>
  
