<div style="background-color: lightsteelblue;">
  <h1> Bonanza Loans</h1>
</div>

<section style="background-color: lightsteelblue;">
  <div class="container" style="font:bold;">
    <header style="background-color:lightblue;color:black; height: 50px;font-weight: bold;">
   <table style="width:100%;text-align: center;">
     <th>
      <a routerLinkActive="active" 
       routerLink="/Home"><b>Home</b></a> 
      </th>
      <!-- <th>
    <a routerLinkActive="active" 
      routerLink="/geteligiblity" (click)="apply()"><b>Apply Loan</b></a> 
    </th>   -->

    <!-- <th>
      <a routerLinkActive="active" 
      routerLink="/adminlogin" ><b>Login As Admin</b></a> 
    </th> -->
    
    <th>
    <a routerLinkActive="active" 
       routerLink="/emi"><b>Emi Calculator</b></a> 
      </th>
      <th>
    <a routerLinkActive="active" 
      routerLink="/contactus">Contact Us</a> 
    </th>
    <th>
    <a routerLinkActive="active" 
      routerLink="/aboutus">About Us</a>  
    </th>
    <!-- <th *ngIf="login==0">
    <a routerLinkActive="active" 
      routerLink="/login">Log In</a>
    </th> -->
    <th>
        <a routerLinkActive="active" 
      routerLink="/userdashboard">Dashboard</a> 
    </th>
    <th>
        
    </th>
    </table> 
    </header>
    <router-outlet></router-outlet>
    <!-- <img src="assets/images/car.png" alt="Loan" style="width:1335px;height:600px;"> -->
  </div>
 
</section>

