<div>
    <h1>TERMS AND CONDITIONS : Bonanza – Vehicle Loan</h1><br/><br/>
    <ul>
      <li><b>Bonanza Car Loan (Fixed Interest Rate) :</b>
Interest on the loan will be charged at the prevailing fixed rate
of interest on daily reducing balance at monthly rests. Bonanza may
at its discretion stipulate the periodicity of computation of
interest. </li><br/>
      <li><b>Security :</b> Bank will verify the original RC book for noting down the
charges in favor of the Bank on submission by the customer
within 120 days of disbursement of loan from Bonanza.nic.in. </li><br/>
        <li><b>Insurance :</b> The Borrower shall always be responsible to ensure
that the insurance policy in respect of the
hypothecated assets remain valid till all the dues of
the bank are repaid and to keep such insurance policy
renewed each year.  </li><br/>
        <li><b>Other Charges :</b>All expenses like valuer’s fees, insurance premia, stamp duty,
registration charges, registration charges for CERSAI, hypothecation
verification charges on BONANZA Site, SMS and Tele-calling charges and
other incidental expenses incurred in connection with the loan are to be
borne by the borrower. </li><br/>
        <li><b>Disclosure :</b>Bonanza Bank is authorized to disclose from time to time any
information relating to the loan to any credit bureau (Existing or Future)
approved by Government of India and Reserve Bank of India without
any notice to the borrower. State Bank of India is also authorized to
make inquiries with the Credit Information Bureau of India (CIBIL) and
get the applicants Credit Information Report. </li><br/>
      <li><b>TAT :</b>The loan applications with complete information and required
documents will be disposed within a period of 2 days at urban Centers
and 4 days at Rural Centers. </li><br/>
          
    </ul>      
  </div>
   <form action="#" onsubmit="if(document.getElementById('agree').checked) { return true; } else { alert('Please check that you have read and agree to the Terms and Conditions and Privacy Policy'); return false; }">

<input type="checkbox" name="checkbox" value="check" id="agree" /> I have read and agree to the Terms and Conditions and Privacy Policy<br/><br/>
<button (click)="submit()" type="submit" name="submit">Proceed</button>
</form>
{{result}}