<h2><strong>Bonanza Loans</strong> </h2>


<body>

    <section class="container">
       
        <div class="left-half" >
        <article>
                    <h1><u>Contact Us</u></h1><br/>
                    <b>Call Us:</b>1800 123 567 , 1800 123 565 (Toll Free)<br/>
                    <b>Call Us:</b>xyz@12.com<br/>
                    <b>Location</b>abc
        </article>
        </div>
        <div class="right-half" >
        <article>
            <img src="assets/images/contact.jpg"  style="width:400px;height:200px;" />
        </article>
        </div>
    
    </section>
</body>

