<div>
      
    <section class="container">
        <img src="assets/images/car.png" alt="Loan" style="width:1080px;height:600px;"> 
      <h1>All You  Need To Know </h1>
      <h3><u>Features</u></h3>
      <div class="left-half">
      <article><br/>
      
         <ul>
             <li><b>Flexible Repayment Tenure</b></li><br/><br/><br/>
             <li><b>Fulfil Your Every Need</b></li><br/><br/><br/>
             <li><b>Online Application</b></li><br/><br/><br/>
             <li><b>Competitive Rates</b></li><br/><br/><br/>
             <li><b>Easy Repayment Schemes</b></li><br/><br/><br/>
             <li><b>Quick Loans</b></li>
         </ul>
      </article>
      </div>
      <div class="right-half">
      <article><br/>
          <p>Decide whether you'd like your loan tenure to be just 12 months, or 48 months, with our pocket-friendly EMI repayment options.</p>
          <p>Get up to 100% finance in you're an Bonanza Bank account holder for specific models, and repay the money at attractive interest rates.</p>
          <p>Enjoy convenient doorstep service and skip the queues when you log a request online.</p>
          <p>We offer a 2% lower rate of interest, and a 50% lower processing rate for existing Bonanza Bank account holders, allowing you to enjoy savings of up to Rs. 2,375/-*</p>
          <p>Easily calculate your EMI and pay through ECS/Standing Instructions/post-dated cheques.</p>
          <p>Check your loan eligibility in just 5 minutes, get quick approvals, and find your loan application status in just 15 minutes. You can avail of an Bonanza Bank Two Wheeler Loan at any one of over 3000 branches across India.</p>
      </article>
      </div>
  
  </section>
  </div>
 
 
